[submodule "app/Plugin/Like"]
	path = app/Plugin/Like
	url = git://github.com/aschelch/cakephp-like-plugin.git
[submodule "app/Plugin/Comments"]
	path = app/Plugin/Comments
	url = git@github.com:CakeDC/comments.git
[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = git@github.com:CakeDC/migrations.git
[submodule "app/Plugin/Utils"]
	path = app/Plugin/Utils
	url = git@github.com:CakeDC/utils.git
